# Copyright (C) 2024 EmbeddedSolutions.pl

# Target ESP32C3-MINI-1-N4/H4
CONFIG_IDF_TARGET="esp32c3"
CONFIG_IDF_TARGET_ESP32C3=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Versioning
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="0.0.2"

# System
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

# Coredump
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_MAX_TASKS_NUM=16
# Erase manually if Coredump sent successfully to server
CONFIG_ESP_COREDUMP_FLASH_NO_OVERWRITE=y
CONFIG_ESP_COREDUMP_STACK_SIZE=4096
CONFIG_ESP_COREDUMP_SUMMARY_STACKDUMP_SIZE=4096

# Heap tracing
CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y

# Partitions
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_OFFSET=0xC000

# HTTP
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

# Button
CONFIG_BUTTON_SHORT_PRESS_TIME_MS=700
CONFIG_BUTTON_LONG_PRESS_TIME_MS=3000
# this is deprecated CONFIG_BUTTON_LONG_PRESS_TOLERANCE_MS=100

# OTA
CONFIG_ESP_HTTPS_OTA_DECRYPT_CB=y

# Security
CONFIG_SECURE_SIGNED_APPS=y
CONFIG_SECURE_SIGNED_APPS_NO_SECURE_BOOT=y
CONFIG_SECURE_SIGNED_APPS_RSA_SCHEME=y
CONFIG_SECURE_SIGNED_ON_UPDATE=y
CONFIG_SECURE_SIGNED_ON_UPDATE_NO_SECURE_BOOT=y
CONFIG_SECURE_SIGNED_ON_BOOT=y
CONFIG_SECURE_SIGNED_ON_BOOT_NO_SECURE_BOOT=y
CONFIG_SECURE_BOOT_BUILD_SIGNED_BINARIES=y
CONFIG_SECURE_BOOT_SIGNING_KEY="cert/signing_key.pem"

# Bootloader
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

# SNTP
CONFIG_LWIP_SNTP_MAX_SERVERS=2
# Sync datetime each 6h
CONFIG_LWIP_SNTP_UPDATE_DELAY=21600000
CONFIG_LWIP_SNTP_MAXIMUM_STARTUP_DELAY=2000

# BLE
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=2
CONFIG_BT_NIMBLE_MAX_BONDS=2
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="ES-EP"
CONFIG_BT_NIMBLE_WHITELIST_SIZE=4
CONFIG_LWIP_LOCAL_HOSTNAME="ES-EP"
CONFIG_ES_ADVERTISING_INTERVAL_MS=0

# DEVICE
CONFIG_EM_DEV_TYPE=4
CONFIG_EM_DEVICE_NAME="ES-INV"

# UART
CONFIG_EM_UART_PORT_NUM=1
CONFIG_EM_UART_TXD=6
CONFIG_EM_UART_RXD=7
CONFIG_EM_UART_TASK_PRIO=24
CONFIG_EM_UART_RING_BUF_SIZE=64
CONFIG_EM_UART_READ_BUF_SIZE=128
CONFIG_EM_UART_TASK_STACK_SIZE=2560

# SERIAL CLIENT
CONFIG_EM_SERIAL_CLIENT_MAX_PACKET_LEN=64
CONFIG_EM_SERIAL_CLIENT_TASK_STACK_SIZE=4096
CONFIG_EM_SERIAL_CLIENT_TASK_PRIO=24
CONFIG_EM_SERIAL_CLIENT_MAX_RQS=5

# EM_WIFI
CONFIG_EM_WIFI_STORAGE_FLASH=y

# SCHEDULER
CONFIG_EM_SCHEDULER_MAX_ENTRIES=12

# TCP
CONFIG_LWIP_MAX_ACTIVE_TCP=4
CONFIG_LWIP_MAX_LISTENING_TCP=4

CONFIG_EM_TCP_RX_TASK_STACK_SIZE=8192
CONFIG_EM_TCP_TX_TASK_STACK_SIZE=6144

# STORAGE
CONFIG_EM_STORAGE_DUMP_DEBOUNCE_MS=700
