# Copyright (C) 2025 EmbeddedSolutions.pl

# COMPILER
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y

# System
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=n
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=n
CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT=y

# Security
CONFIG_SECURE_FLASH_ENC_ENABLED=y
CONFIG_SECURE_BOOT=y
CONFIG_SECURE_BOOT_V2_ENABLED=y
CONFIG_SECURE_DISABLE_ROM_DL_MODE=y
CONFIG_SECURE_FLASH_ENCRYPTION_MODE_RELEASE=y

# Bootloader
CONFIG_SECURE_BOOTLOADER_ONE_TIME_FLASH=y
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_USJ_ENABLE_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=n
CONFIG_ESP_CONSOLE_UART=n
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_NONE=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=n
CONFIG_CONSOLE_UART=n

# BLE
CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
